<!-- src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.HiddenTitelTheme"
        android:supportsRtl="true">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/filter_add_shared_list"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="at.fhjoanneum.todoapp"
                    android:pathPrefix="/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".LoginActivity"
            android:exported="false"/>
        <activity android:name=".ForgotPasswordActivity"
            android:exported="false"/>
        <activity android:name=".RegistrationActivity"
            android:exported="false"/>
        <activity android:name=".InnerListActivity"
            android:exported="false"
            android:label=""/>
        <activity android:name=".ToDoListOverviewActivity"/>
            <!--android:exported="false"/>-->
        <receiver android:name=".ReminderReceiver"/>
    </application>
</manifest>
